$base-color: #9d95e8;
$text-color: #fcfcf0;

body{
    background-color: $base-color;
    color: $text-color;
    margin: 16px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

.headshot{
    height: 15%;
    width: 15%;
    border-radius: 100%;
}

.component{
    border-top: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
}

