// $base-color: #6b5cf7;
// $base-color-2: #3f349e;
// $text-color: #eaeae4;
// $text-color-primary: #d9d9d7;

body {
    background: linear-gradient(#bababa 0%, #eaeae4 100%);
    color: black;
    min-height: 100vh;
    margin: 16px;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

.headshot {
    height: 15%;
    width: 15%;
    border-radius: 100%;
}

.proj-desc-img {
    height: 25%;
    width: 25%;
}

.component-both {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
    h3{
        color: black ;
    }
}

.component-bottom{
    border-bottom: 2px solid black;
    
    h3{
        color: black ;
    }
}

.exp-title{
    font-size: 1.15rem;
}

.exp-desc{
    width: 80vw;
}

.exp{
    width: 90vw;
}

.border-bottom{
    margin-bottom: 5px;
}

.technology-container{
    text-align: center;

    border-radius: 20px;
    border: 1px solid #a07bb5;
    background-color: #a07bb5;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .carousel-caption {
        p {
            background: rgba(255, 255, 255, 0.6)
        }
    }
}